# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
bin/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Spring Boot
spring-boot-devtools.yml
